<div class="container">
  <h2> Achieve your goals with V-Academy</h2>
</div>
<div class="container">
  <div class="navbar navbar-expand-lg">
    <div class="nav-item">
      <img src="../../../assets/SvgaLearn.png" class="img-svg" alt="Learn image">
      <h3>Learn the latest skills</h3>
      <br>
      <p>like business analytics, graphic design, Python, and more</p>
    </div>
    <div class="nav-item">
      <img src="../../../assets/teacher-img.png" class="img-svg" alt="Learn image">
      <h3>Get ready for a career</h3>
      <br>
      <p>in high-demand fields like IT, AI and cloud engineering</p>
    </div>
    <div class="nav-item">
      <img src="../../../assets/SvgaColorCertificate.png" class="img-svg" alt="Learn image">
      <h3>Earn a certificate or degree</h3>
      <br>
      <p>from a leading university in business, computer science, and more</p>
    </div>
    <div class="nav-item">
      <img src="../../../assets/SvgaCommunity.png" class="img-svg" alt="Learn image">
      <h3>Upskill your organization</h3>
      <br>
      <p>with on-demand training and development programs</p>
    </div>
  </div>
</div>
<br>
<div class="container-lg myContainer">
  <img src="../../../assets/forum_image.jpeg" class="img-fluid forumImage" alt="features image">
  <div class="float-right forumText">
    <h2 class="ml-lg-4.75">Want to ask Questions??</h2>
    <p class="ml-5">Got a lot of questions in mind,<br> clear everything by using our Forum</p>
    <button (click)="gotoForum()" class="btn btn-light ml-5">Go to Forum</button>
  </div>
</div>
<br>
<div class="container-xl">
  <img src="../../../assets/vaca.png" class="img-fluid" alt="features image">
</div>
